#carousel {
    height: 600px;
    width: 1000px;
    position: relative;
    margin: 50px auto;
}

.images {
    height: 100%;
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.images .active {
    display: block;
}

#carousel .bi {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#left {

    right: 105%;
}

#right {
    left: 105%;
}


#description div {
    position: absolute;
    top: 30px;
    left: 30px;
    display: none;
}

#description div.active {
    display: block;
}